fastapi
httpx
tomli
pyyaml
motor
elasticsearch[async]==8.11.1
loguru
uvicorn[standard]
pydantic
pydantic-settings
aio-pika
PyJWT
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
python-multipart